
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* Styling for the body */
body {
  margin: 0;
  min-height: 100vh;
  background-color: hsla(0, 0%, 100%, 0.938);
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

/* Styling for the header logo */
.header img {
  display: inline-block;
  width: 4.5%;
  border: 5px solid #336797;
  border-radius: 20%;
  float: left;
}

/* Styling for the header */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 12%;
  padding: 10px 30px;
  background: linear-gradient(#28537a, #1582d6, #35bee0);
  display: inline-block;
  text-align: center;
  z-index: 10;
}

/* Styling for navigation links */
.navbar a {
  position: relative;
  font-size: 20px;
  color: rgb(255, 255, 255);
  font-weight: 500;
  text-decoration: none;
  margin-left: 40px;
  float: left;
  margin-top: 35px;
  font-family: 'Space Grotesk', sans-serif;
}

/* Styling for navigation link hover effects */
.navbar a::before {
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  width: 0%;
  height: 2px;
  background: white;
  transition: 0.3s;
}

.navbar a:hover::before {
  width: 100%;
}

/* Styling for the register button */
#register {
  background: #0a95ff;
  box-shadow: #5E5DF0 0 10px 20px -10px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  font-family: Inter, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 8px 18px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
  word-break: break-word;
  border: 0;
  border-radius: 10px;
  margin-top: 30px;
  margin-left: 5px;
  float: right;
}


/* Styling for the register button when hovered */
#register:hover {
  background: #0074cc;
  color: white;
  border: 2px solid #1b5996;
  border-radius: 10px;
}

/* Styling for the login button */
#login {
  background: #e1ecf4;
  box-shadow: #5E5DF0 0 10px 20px -10px;
  box-sizing: border-box;
  color: #6291b3;
  cursor: pointer;
  font-family: Inter, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 8px 18px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
  word-break: break-word;
  border: 0;
  border-radius: 10px;
  margin-top: 30px;
  float: right;
}

/* Styling for the login button when hovered */
#login:hover {
  background: #b3d3ea;
  color: #6291b3;
  border: 2px solid #1b5996;
  border-radius: 10px;
}

/* Styling for the header text */
.headerTxt {
  position: relative;
  width: 50%;
  display: inline-block;
  vertical-align: top;
}

.txt1 {
  margin-top: 180px;
  margin-left: 350px;
  font-size: 50px;
  text-align: justify;
  font-family: 'Oswald', sans-serif;
  color: rgb(45, 69, 138);
}

.txt2 {
  margin-top: 10px;
  margin-left: 350px;
  font-size: 19px;
  text-align: justify;
  font-family: 'Oswald', sans-serif;
  color: rgb(35, 26, 73);
}

/* Styling for the slideshow container */
.slideBar {
  display: inline-block;
  position: relative;
  width: 45%;
  margin-left: 30px;
  margin-top: 200px;
}

/* Styling for the slideshow images */
.slideImg {
  width: 85%;
  height: 60%;
  border-radius: 26px;
}


/* Styling for the number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Styling for the dots/bullets/indicators */
.dots {
  margin-left: 350px;
}

.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: .4;
  } 
  to {
    opacity: 1;
  }
}

/* Adjust text size on smaller screens */
@media only screen and (max-width: 300px) {
  .text {
    font-size: 11px;
  }
}

/* Styling for the vccRegister button */
.vccReg {
  margin-top: 30px;
  margin-left: 350px;
}

#vccRegister {
  background: #0a95ff;
  box-shadow: #5E5DF0 0 10px 20px -10px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  font-family: Inter, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 8px 18px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
  word-break: break-word;
  border: 0;
  border-radius: 10px;
}

#vccRegister:hover {
  background: #0074cc;
  color: white;
  border: 2px solid #1b5996;
  border-radius: 10px;
}

/* Styling for the footer */
footer {
  width: 100%;
  height: 7%;
  position: absolute;
  background: linear-gradient(#1676be, #28537a);
  bottom: 0;
}

/* Styling for footer text */
p.footxt {
  left: 7%;
  font-size: 15px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 14px;
  color: wheat;
  position: absolute;
}


/* Define help link style */
a.help {
 margin-left: 1300px; /* Position link from left */
 font-size: 15px; /* Set font size */
 text-decoration: none; /* Remove underline */
 font-family: Verdana, Geneva, Tahoma, sans-serif; /* Set font family */
 color: wheat; /* Set font color */
 position: relative; /* Set positioning context */
}
