/* Importing Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

/* Global CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/* Styling for the body */
body {
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    /* Background gradient commented out */
}


/* Styling for the header logo */
.header img {
    display: inline-block;
    width: 4.5%;
    border: 5px solid #336797;
    border-radius: 20%;
    float: left;
}

/* Styling for the header section */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 12%;
    padding: 10px 30px;
    background: linear-gradient(#28537a, #1582d6, #35bee0);
    display: inline-block;
    text-align: center;
    z-index: 10;
}

/* Styling for navigation bar links */
.navbar a {
    position: relative;
    font-size: 20px;
    color: rgb(255, 255, 255);
    font-weight: 500;
    text-decoration: none;
    margin-left: 40px;
    float: left;
    margin-top: 35px;
    font-family: 'Space Grotesk', sans-serif;
}


/* Navigation bar link underline before hover */
.navbar a::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0%;
    height: 2px;
    background: white;
    transition: .3s;
}

/* Navigation bar link underline on hover */
.navbar a:hover::before {
    width: 100%;
}

/* Registration Button design */
#register {
    background: #0a95ff;
    box-shadow: #5E5DF0 0 10px 20px -10px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    font-family: Inter, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    opacity: 1;
    outline: 0 solid transparent;
    padding: 8px 18px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: fit-content;
    word-break: break-word;
    border: 0;
    border-radius: 10px;
    margin-top: 30px;
    margin-left: 1200px;
}

/* Style for Registration Button on hover */
#register:hover {
    background: #0074cc;
    color: white;
    border: 2px solid #1b5996;
    border-radius: 10px;
}

/* Container section styling */
.container {
    width: 64vw;
    height: 70vh;
    display: grid;
    grid-template-columns: 100%;
    grid-template-areas: "login";
    box-shadow: 0 0 17px 10px rgb(0 0 0 / 30%);
    border-radius: 20px;
    overflow: hidden;
}

/* Design section styling */
.design {
    grid-area: login;
    display: none;
    position: relative;
    background-color: white;
}

/* Rotate pills by 45 degrees */
.rotate-45 {
    transform: rotate(45deg);
}

/* Design for pill 1 */
.design .pill-1 {
    bottom: 0;
    left: 275px;
    position: absolute;
    width: 80px;
    height: 200px;
    background: linear-gradient(#EEC0C6, #7EE8FA);
    border-radius: 40px;
}



/* Design for pill elements */
.design .pill-2 {
    top: -100px;
    left: 175px;
    position: absolute;
    height: 450px;
    width: 220px;
    background: linear-gradient(#EEC0C6, #7EE8FA);
    border-radius: 200px;
    border: 30px solid #c2f8fc;
}

.design .pill-3 {
    top: -100px;
    left: 45px;
    position: absolute;
    height: 200px;
    width: 100px;
    background: linear-gradient(#EEC0C6, #7EE8FA);
    border-radius: 70px;
}

.design .pill-4 {
    bottom: -180px;
    left: -10px;
    position: absolute;
    height: 300px;
    width: 120px;
    background: linear-gradient(#EEC0C6, #7EE8FA);
    border-radius: 70px;
}

/* Styling for the login area */
.login {
    grid-area: design;
    display: flex;
    flex-direction: column;
    position: relative;
    background: white;
}

/* Styling for the registration title */
.login h3.title {
    margin-top: 50px;
    margin-left: 300px;
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
}

/* Styling for the username input field */
.text-input-username {
    background: #e6e6e6;
    height: 40px;
    display: flex;
    width: 25%;
    align-items: center;
    border-radius: 10px;
    padding: 5px 15px;
    margin: 5px 0;
    margin-top: 80px;
    margin-left: 130px;
}

/* Styling for the username input */
.text-input-username input {
    background: none;
    border: none;
    outline: none;
    width: 100%;
    height: 100%;
    margin-left: 10px;
}

/* Styling for the password input field */
.text-input-password {
    background: #e6e6e6;
    height: 40px;
    display: flex;
    width: 25%;
    align-items: center;
    border-radius: 10px;
    padding: 5px 15px;
    margin: 5px 0;
    margin-top: 30px;
    margin-left: 130px;
}


/* Styling for password input */
.text-input-password input {
    background: none;
    border: none;
    outline: none;
    width: 100%;
    height: 100%;
    margin-left: 10px;
}

/* Styling for confirm password input */
.text-input-confirmpass {
    background: #e6e6e6;
    height: 40px;
    display: flex;
    width: 25%;
    align-items: center;
    border-radius: 10px;
    padding: 5px 15px;
    margin: 5px 0;
    margin-top: 30px;
    margin-left: 130px;
}

.text-input-confirmpass input {
    background: none;
    border: none;
    outline: none;
    width: 100%;
    height: 100%;
    margin-left: 10px;
}

/* Styling for full name input */
.text-input-fullname {
    background: #e6e6e6;
    height: 40px;
    display: flex;
    width: 30%;
    align-items: center;
    border-radius: 10px;
    padding: 5px 15px;
    /* margin: px 0;.text-input-fullnam */
    margin-top: 30px;
    margin-left: 130px;
}


/* Fullname input styling */
.text-input-fullname input {
    /* Remove background and border */
    background: none;
    border: none;

    /* Remove outline on focus */
    outline: none;

    /* Set width and height to 100% */
    width: 100%;
    height: 100%;

    /* Add left margin */
    margin-left: 10px;
}

/* Styling for gender selection */
.gender-select {
    margin-top: 25px;
}

/* Styling for radio buttons */
input[type="radio"] {
    display: none;
}

/* Styling for gender selection labels */
.gender-select label {
    position: relative;
    color: #7e9ffa;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    border: 2px solid #7e9ffa;
    border-radius: 5px;
    padding: 5px 25px;
    margin-left: 10px;
    margin-top: 10px;
    width: 150px;
    display: inline-flex;
    align-items: center;
    cursor: pointer;
}

/* This code creates a radio button with a gender-select label. */

.gender-select label:before {

    content: "";
    /* This sets the size of the radio button. */
    height: 15px;
    width: 15px;

    /* This sets the border of the radio button. */
    border: 2px solid #7e9ffa;

    /* This makes the radio button a circle. */
    border-radius: 50%;

    /* This sets the margin between the radio button and the label. */
    margin-right: 20px;
}

/* Styling for male label */
.gender-select .maleL {
    margin-left: 130px;
}

 /* This code adds a blue background and white text to the checked radio button */
input[type="radio"]:checked + label {

    /* Blue background */
    background-color: #7e9ffa;

    /* White text */
    color: white;
}

/* # This code adds a checked radio button to an input element */
input[type="radio"]:checked +  label::before{

    /* # Sets the height of the radio button */
    height: 8px;

    /* # Sets the width of the radio button */
    width: 8px;

    /* # Sets the border of the radio button */
    border: 5px solid white;

    /* # Sets the background color of the radio button */
    background-color: #7e9ffa;
}


/* This code adds a calender for date of birth inputs */
input[type="date"]{
    background-color: #7e9ffa;
    padding: 9px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 27.8%;
    left: 62.9%;
    color: #FFFFFF;
    font-family: 'Poppins' sans-serif;
    font-size: 18px;
    border: none;
    outline: none;
    border-radius: 5px;
}


::-webkit-calendar-picker-indicator {
    /* This is the style for the calendar picker indicator */

    background-color: #FFFFFF;
    /* The background color of the indicator */

    padding: 5px;
    /* The padding around the indicator */

    cursor: pointer;
    /* The cursor style when hovering over the indicator */

    border-radius: 3px;
    /* The border radius of the indicator */
}

/* This code adds a mobile number to an input element */
.text-input-mobilenumber{

    background: #e6e6e6;
    height: 40px;
    /* display: flex; */
    position: absolute;
    transform: translate(-50%, -50%);
    left: 65.9%;
    top: 38%;
    width: 25%;
    align-items: center;
    border-radius: 10px;
    padding: 5px 15px;
    margin: 5px 0;
    border: none;
}

.text-input-mobilenumber input{

    background: none;
    border: none;
    outline: none;
    width: 100%;
    height: 100%;
    margin-left: 10px;
}

/* This code adds a address to an input element */
.text-input-address{

    background: #e6e6e6;
    height: 40px;
    /* display: flex; */
    position: absolute;
    transform: translate(-50%, -50%);
    left: 65.9%;
    top: 49%;
    width: 25%;
    align-items: center;
    border-radius: 10px;
    padding: 5px 15px;
    margin: 5px 0;
    border: none;
}

/* This code designs address to an input element */
.text-input-address input{

    background: none;
    border: none;
    outline: none;
    width: 100%;
    height: 100%;
    margin-left: 10px;
}

/* This code adds NIC and Passport to an input element */
.text-input-nicpass{

    background: #e6e6e6;
    height: 40px;
    /* display: flex; */
    position: absolute;
    transform: translate(-50%, -50%);
    left: 65.9%;
    top: 60%;
    width: 25%;
    align-items: center;
    border-radius: 10px;
    padding: 5px 15px;
    margin: 5px 0;
    border: none;
}

/* This code designs NIC and Passport to an input element */
.text-input-nicpass input{

    background: none;
    border: none;
    outline: none;
    width: 100%;
    height: 100%;
    margin-left: 10px;
}


/* Styling for icon within text input */
.text-input i {
    color: #686868;
}


/* Styling for input placeholders */
::placeholder {
    color: #9a9a9a;
    font-size: 15px;
}

/* Styling for the login button */
.login-btn {
    width: 40%;
    padding: 15px;
    color: white;
    background: linear-gradient(to right, #B9D1EB,#8eb3da, #F876DE);
    border: none;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 15px;
}

/* Styling for anchor tags (links) */
a {
    font-size: 12px;
    color: #9a9a9a;
    cursor: pointer;
    user-select: none;
    text-decoration: none;
}

/* Styling for anchor tags with class 'haveAcc' */
a.haveAcc {
    margin-top: 15px;
    font-size: 14px;
}

/* Styling for the registration button */
.reg-btn {
    width: 35%;
    padding: 15px;
    color: white;
    font-size: 15px;
    background: linear-gradient(to left, #B9D1EB,#8eb3da, #F876DE);
    border: none;
    border-radius: 20px;
    cursor: pointer;
    position: absolute;
    top: 69%;
    left: 53%;
}

.login-txt{

    width: 35%;
    padding: 15px;
    color: rgb(0, 0, 0);
    font-family: 'Poppins' sans-serif;
    /* background: linear-gradient(to left, #B9D1EB,#8eb3da, #F876DE); */
    border: none;
    border-radius: 20px;
    cursor: pointer;
    position: absolute;
    top: 77%;
    left: 40%;
}

#log-btn{

    width: 30%;
    padding: 15px;
    color: white;
    font-size: 15px;
    background: linear-gradient(to left, #B9D1EB,#8eb3da, #F876DE);
    border: none;
    border-radius: 20px;
    cursor: pointer;
    position: absolute;
    top: 85%;
    left: 37%;
}

/* Media Query for screens with a minimum width of 768px */
@media (min-width: 768px) {
    /* Adjusting the grid layout for larger screens */
    .container {
        grid-template-columns: 75%;
        grid-template-areas: "design login";
    }

    /* Display the 'design' element as a block */
    .design {
        display: block;
    }
}

/* Styling for the footer area */
footer {
    width: 100%;
    height: 7%;
    position: absolute;
    background: linear-gradient(#1676be, #28537a);
    bottom: 0;
}

/* Styling for footer text */
p.footxt {
    left: 7%;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 14px;
    color: wheat;
    position: absolute;
}

/* Styling for 'help and support' link in the footer */
a.help {
    margin-left: 1300px;
    font-size: 15px;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: wheat;
    position: relative;
}
