

/* Home Page CSS */
*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:sans-serif;
    -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body{
    margin: 0;
    min-height: 100vh;
    background-color: hsla(0, 0%, 100%, 0.938);
    background-size: cover;
    background-position: center;
    /* font-family: sans-serif; */
    overflow: hidden;
}

.profilephoto {
  position: absolute;
  right: 6%;
  top: -20%;
  width: 155px;
  border: none;
}

.banner{
	width:100%;   /*background-image*/
	height:100vh;
	background-image:linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(../images/5fcf5004f6.jpeg);
	background-size:cover;
	background-position:center;
}
.content{
	width:100%;
	position:absolute;
	top:50%;
	transform:translateY(-50%);
	text-align:center;
	color:white;
}
.content h1{
	margin-top:5px;
	font-size:50px;
}

.content p{
	font-size:20px;
	margin:20px auto;
	font-weight:100;
	line-height:25px;
}
button{
	font-size:17px;
	width:200px;
	padding:15px 0;
	text-align:center;
	margin:20px 10px;
	border-radius:25px;
	font-weight:bold;
	border:2px solid #009688;
	background:transparent;
	color:white;
	cursor:pointer;
	position:relative;
	overflow:hidden;
	
}
span{
	background:#009688;
	height:100%;
	width:0;
	border-radius:25px;
	position:absolute;
	left:0;
	bottom:0;
	z-index:-1;
	transition:0.5s;
}
button:hover span{
	width:100%;
}
button:hover{
	border:none ;
}

.logout-btn{

  position: absolute;
  top: 5%;
  left: 93%;
}

#logoutBtn{

  background: #0a95ff;
  box-shadow: #5E5DF0 0 10px 20px -10px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  font-family: Inter, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 8px 18px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
  word-break: break-word;
  border: 0;
  border-radius: 10px;
  margin-top: 30px;
  margin-left: 5px;
  float: right;
}

#logoutBtn:hover{

  background: #0074cc;
  color: white;
  border: 2px solid #1b5996;
  border-radius: 10px;
}



#logo{
  position: absolute;
    /* display: inline-block; */
    width: 4.5%;
    border: 5px solid #336797;
    border-radius: 20%;
    
}

.profile-btn{

  position: absolute;
  left: 93.5%;
  top: 10%;
}

#profile-button{

  background: #e1ecf4;
  box-shadow: #5E5DF0 0 10px 20px -10px;
  box-sizing: border-box;
  color: #6291b3;
  cursor: pointer;
  font-family: Inter, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 8px 18px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
  word-break: break-word;
  border: 0;
  border-radius: 10px;
  margin-top: 30px;
  float: right;
}

#profile-button:hover {
  background: #b3d3ea;
  color: #6291b3;
  border: 2px solid #1b5996;
  border-radius: 10px;
}

.header{

    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 12%;
    padding: 10px 30px;
    background: linear-gradient(#28537a, #1582d6, #35bee0) ;
    display: inline-block;
    z-index: 10;
    
  }
  
  .header_username{
    display: inline-block;
    position: relative;
    vertical-align: top;
    margin-top: 3.5vh;
   margin-left: 20px;
    font-size: 1.3rem;
    color: white;
  }

.navbar{
  position: relative;
  display: inline-block;
  text-align: left;
  width: 70%;
  vertical-align: top;
  margin-top: 3vh;
  margin-left: 4vw;
}

.navbar a{
  position: relative;
  font-size: 20px;
  color: rgb(255, 255, 255);
  font-weight: 500;
  text-decoration: none;
  margin-left: 40px;
  margin-top: 35px;
  font-family: 'Space Grotesk', sans-serif;
  
}

.navbar a::before{

    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0%;
    height: 2px;
    background: white;
    transition: .3s;
    
}

.navbar a:hover::before{

    width: 100%;
}

/* Login Reg Buttons */





/* Headtext */



footer{
  
  width: 100%;
  height: 7%;
  position: absolute;
  background: linear-gradient(#1676be, #28537a) ;;
  bottom: 0;
}

p.footxt{
  left: 7%;
  font-size: 15px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 14px;
  color: wheat;
  position: absolute;
}

a.help{

  margin-left: 1300px;
  font-size: 15px;
  text-decoration: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: wheat;
  position: relative;
}